@import './global.scss';

.content-button{
    text-align: center;
    .button{
        font-weight: 500;
        font-size: 1rem;

        border-radius: 5px;
        background: $primary-color;
        color: #fff;
        padding: .75rem 4rem;
    
        border: 0;
        transition: .5s;
        cursor: pointer;
        
        &:hover{
            background: $primary-color-hover;
        }
    }
}
